@charset "UTF-8";
.html{
	overflow: hidden;
}
.body{
	background-color: #FFED00;
	background-image: url("Tutu's website/IMG/failure/AwardFailure.png");
	background-repeat: repeat;
	background-size: 100%,100%;
	padding-left: 2vw;
	padding-right: 2vw;
	height: auto;
}
.h1{
	color: #D4291F;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-style: normal;
	font-weight: bolder;
	font-size: 8.5vw;
	font-variant: normal;
	display: block;
	width: 100%;
	text-decoration: none;
	text-align: center;
	padding-top: 3.6vw;
	padding-bottom: 1vw;
	top: auto;
}
.bg{
	position: relative;
	overflow: hidden;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	/* [disabled]padding-top: 100px; */
	/* [disabled]padding-bottom: 100px; */
	top: -7vw;
}
.bgimg{
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	/* [disabled]max-width: 45%; */
	overflow: hidden;
	width: 45vw;
	top: 1.6vw;
}

.g1{
	max-width: 20%;
	position: relative;
	left: 39vw;
	bottom: 26vw;
	right: 36vw;
}
.f1{
	position: relative;
	max-width: 6%;
	transition: width 0.2s, height 0.2s, transform 0.2s;
	transform-origin: top left;
	left: 11vw;
	bottom: 51vw;
}
.f1:hover{
	transform: rotate(30deg) scale(5.5);
}
.f2{
	position: relative;
	max-width: 6%;
	transition: width 0.2s, height 0.2s, transform 0.2s;
	transform-origin: top left;
	left: 22.2vw;
	bottom: 41.2vw;
}
.f2:hover{
	transform: rotate(30deg) scale(5.5);
}
.f3{
	position: relative;
	max-width: 6%;
	transition: width 0.2s, height 0.2s, transform 0.2s;
	transform-origin: top left;
	left: 27.5vw;
	bottom: 45.2vw;
}
.f3:hover{
	transform: rotate(30deg) scale(5.5);
}
.f4
{
	position: relative;
	max-width: 6%;
	transition: width 0.2s, height 0.2s, transform 0.2s;
	transform-origin: top left;
	left: -6.6vw;
	bottom: 37.4vw;
}
.f4:hover{
	transform: rotate(30deg) scale(5.5);
}
.f5
{
	position: relative;
	max-width: 6%;
	transition: width 0.2s, height 0.2s, transform 0.2s;
	transform-origin: top left;
	left: -1.2vw;
	bottom: 45.5vw;
}
.f5:hover{
	transform: rotate(30deg) scale(5.5);
}
.f6{
	position: relative;
	max-width: 6%;
	transition: width 0.2s, height 0.2s, transform 0.2s;
	transform-origin: top left;
	left: 3.8vw;
	bottom: 37.4vw;
}
.f6:hover{
	transform: rotate(30deg) scale(5.5);
}
.f7{
	position: relative;
	max-width: 6%;
	transition: width 0.2s, height 0.2s, transform 0.2s;
	transform-origin: top left;
	left: 6.6vw;
	bottom: 31.8vw;
}
.f7:hover{
	transform: rotate(30deg) scale(5.5);
}
.p1 {
	display: block;
	margin-top: 36px;
	margin-left: 38px;
	margin-right: 35px;
	line-height: 34px;
}
