@charset "UTF-8";
.body{
	background-color: #000000;
	color: #000000;
	padding-left: 2vw;
	padding-right: 2vw;
	padding-top: 2vw;
}

.logo{
	width: 30vw;
}
.video{
	display: flex;
	position: relative;
	margin-top: 3vw;
	margin-right: 3vw;
	margin-bottom: 3vw;
	margin-left: 3vw;
}
.p1{
	color: #FFFFFF;
	font-size: 1.4vw;
	display: block;
	white-space: normal;
	text-align: left;
	text-decoration: none;
	margin-top: 2vw;
	margin-right: 2vw;
	margin-bottom: 2vw;
	margin-left: 2vw;
	/* [disabled]max-width: 40%; */
}

.row1{
	margin-top: 3vw;
	display: flex;
	position: relative;
}
.photo1{
	display: block;
	width: 50%;
	padding-top: 1vw;
	padding-right: 3vw;
	padding-left: 3vw;
	padding-bottom: 1vw;
}
.rowsmall{
	margin-right: 5vw;
	display: flex;
	max-width: 50%;
}
.poster{
	height: auto;
	display: block;
	width: 30vw;
}
.p2{
	color: #FFFFFF;
	display: block;
	position: relative;
	margin-right: 2vw;
	font-size: 1vw;
	width: 30vw;
}
