@charset "UTF-8";
.body{
	margin: 0;
	height: 100%;
	background-image: url("Tutu's website/IMG/south/Textwrap.gif");
	background-repeat: repeat;
	background-size: 100%,auto;
	padding-left: 2vw;
	padding-right: 2vw;
}
.title{
	display: block;
	width: auto;
}
.h1 {
	font-size: 3vw;
	font-family: verdana;
	color: white;
	margin-left: 3vw;
	display: block;
}
.h11 {
	display: block;
	width: 100%;
	color: white;
	font-family: verdana;
	padding-top: 0vw;
	font-size: 2vw;
	padding-left: 3.3vw;
	position: relative;
	top: -2.5vw;
}
.Intro{
	display: flex;
}
.photo1{
	display: block;
	width: 50%;
	padding-top: 2vw;
	padding-right: 2vw;
	/* [disabled]padding-left: 10px; */
	padding-bottom: 2vw;
}
.gif1{
	opacity: 1;
	width: 50vw;
}
.h2 {
	display: block;
	color: white;
	position: relative;
	padding-top: 50px;
	font-family: verdana;
	font-size: 1vw;
}
.photo2{
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
	position: relative;
	margin-bottom: 1vw;
}
.row1{
	display: flex;
}
.outdoor{
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
	position: relative;
	margin-bottom: 1vw;
}
.metro {
	padding-top: 2vw;
	padding-bottom: 2vw;
}
.expo1{
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
	position: relative;
	padding-bottom: 2vw;
}
