@charset "UTF-8";
.body{
	background-color: #000000;
	background-image: url();
	padding-left: 2vw;
	padding-right: 2vw;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}

.h1{
	color: #FFFFFF;
	font-size: 3vw;
	text-align: left;
	font-variant: normal;
	text-decoration: none;
}
.GIF{
	display: flex;
}
.gif{
	display: block;
	width: 50%;
	margin-left: 10vw;
	margin-right: 10vw;
}

.IMG{
	display: flex;
	margin-top: 6vw;
}
.imgs{
	display: block;
	width: 50%;
	margin-left: 3vw;
	margin-right: 3vw;
}
.rowbig{
	margin-top: 4vw;
	height: auto;
	display: flex;
}
.p1{
	display: block;
	/* [disabled]margin-left: 4vw; */
	padding-left: 3vw;
	font-size: 1.5vw;
	padding-top: 0.8vw;
}
.alpha{
	display: block;
}
.A{
	display: block;
	padding-left: 0vw;
	margin-left: -1vw;
	margin-right: -1vw;
}
.row{
	display: flex;
}
